* { line-height: 1.5em; }
h1 { font-size: 2em !important; }
h2 { font-size: 2em !important; }
ul { font-size: 2em; }
footer { border-top: 1px solid #ccc; }
footer div { margin: 5px 0px; }

input {
  font-size: 3em;
  width: 100%;
}
div.form {
  margin-bottom: 50px;
  width: 100%;
}
span {
  font-size: 3em;
}
h2.output { margin-top: 20px; }
#editor {
    border: 1px solid black;
    margin-bottom: 5px;
    height: 200px;
    width: 100%;
}
#output {
    border: 1px solid black;
    margin-bottom: 5px;
    height: 200px;
    width: 100%;
}
button {
    width: 100px;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
}
