extends: default.liquid
title: Compiling Rust to your Browser
---

<h2>Examples</h2>
<ol>
  <li><a href="01-hello/">Hello World</a></li>
  <li><a href="02-hello-wasm/">Hello World (Wasm)</a></li>
  <li><a href="03-call-javascript/">Call into JavaScript</a></li>
  <li><a href="04-call-into-lib/">Call from JavaScript</a></li>
  <li><a href="05-in-html/">Embed into HTML</a></li>
  <li><a href="06-wasm-in-html/">Embed Wasm in HTML</a></li>
  <li><a href="07-webplatform/">Access the DOM</a></li>
</ol>

<p><a href="../">Go back to the overview</a></p>

